@model Memorizer.Web.Models.Authorize.Credentials
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "StaticLayout";
    ViewData["Title"] = "Login page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-paleorange">
                <div class="card-header">@ViewBag.Title</div>

                <div class="card-body">
                    <form  asp-action="Login" asp-controller="Account" asp-anti-forgery="true" method="post">
                        <div class="form-group row">
                            <label asp-for="Login"class="col-md-4 col-form-label text-md-right">{{ __('E-Mail Address') }}</label>

                            <div class="col-md-6">
                                <input asp-for="Login" class="form-control {{ $errors->has('email') ? ' is-invalid' : '' }}" required autofocus/>
                                <span asp-validation-for="Login"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Password" class="col-md-4 col-form-label text-md-right">{{ __('Password') }}</label>

                            <div class="col-md-6">
                                <input asp-for="Password" class="form-control {{ $errors->has('password') ? ' is-invalid' : '' }}" required>
                                <span asp-validation-for="Password"  class="invalid-feedback" role="alert"/>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="offset-md-4">
                                <button type="submit" class="btn btn-primary"  value="Login">
                                    {{ __('Login') }}
                                </button>
                                <br />
                                <a class="btn btn-link" href="{{ route('password.request') }}">
                                    {{ __('Forgot Your Password?') }}
                                </a>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="d-flex justify-content-center">
                        <a class="btn-link text-dark" href="{{route('google')}}"><i class="fab fa-google"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
