@model Memorizer.Web.Models.Authorize.Credentials
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login page";
}

<h2>Login page</h2>

<a asp-action="Register" asp-controller="Account">Registration</a>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Login">Login please: </label>
            <input asp-for="Login" />
            <span asp-validation-for="Login" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Password here: </label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-outline-dark" />
        </div>
    </div>
</form>

@Html.ActionLink("Registration", "Register", "Account");